# Exclude specific files due to github size-contraints (<= 100 MB)
# Note: Given the source-data "Tarifierung_RI_2017.csv", the files listed below can be obtained by simply running the file "0_main_data_processing.py" and, implicitly, the helper-functions included in this script 
data/msg_life/x_test.npy
data/msg_life/x_test_raw.npy
data/msg_life/x_train.npy
data/msg_life/x_train_raw.npy
data/msg_life/y_train.npy
data/msg_life/y_test.npy
data/
functions/.ipynb_checkpoints/
functions/__pycache__/

.ipynb_checkpoints/
 __pycache__/

# exclude file types
*.eps
*.png
*.tex
*.npy
